.Projects{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
}

.createProject{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.createProject > input{
  width: 100%;
  height: 40px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 5px;
  font-size: 14pt;
  border-radius: 5px;
  vertical-align: middle;
}

.createProject > span{
  min-width: 15%;
  margin-left: 10px;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
  font-size: 15pt ;
}

.createProject > button{
  min-width: 20%;
  margin: 5px;
  border-radius: 10px;
  outline: none;
  background-color: #4CAF50; /* Green */
  border: none;
  color: #ffffff;
  font-size: 14pt;

  &:active{
    color: #ffffff;
    background: #416e42;
    border: 3px aqua;
  }
}

.listProjects{
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.projectItem{
  display: flex;
  width: 200px;
  flex: 0 0 20;
  height: 200px;
  flex-direction: column;
  margin: 10px;
  vertical-align: middle;
  align-items: flex-end;
  background: linear-gradient(to right, #c1ffab, #f0ffab);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(26, 97, 255, 0.5);
  //border: 5px solid transparent;
  //border-radius: 30px;
  //border-image-source: linear-gradient(45deg, rgb(35, 143, 105), rgb(25, 250, 232));
  //border-image-slice: 1;
  //background-origin: border-box;
  //background-clip: padding-box, border-box;
}

.projectItem > img{
  width: 30px;
  height: 30px;
  padding: 20px;
  justify-self: flex-end;
  cursor: pointer;
}

.projectItem > h2{
  width: 100%;
  text-align: center;
  height: 100%;
  padding-left: 60px;
}
