.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ffc40b;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


ul {
  padding: 10px;
  list-style: none; /*убираем маркеры списка*/
  margin: 0; /*убираем отступы*/
  padding-left: 0; /*убираем отступы*/
}
a {
  text-decoration: none; /*убираем подчеркивание текста ссылок*/
}
li {
  font-size: 15pt;
  display: inline; /*Размещаем список горизонтально для реализации меню*/
  margin-right:10px; /*Добавляем отступ у пунктов меню*/
}

div.item{
  padding: 10px;
  background: lightblue;
  font-size: 17pt;
  border: 3px solid darkseagreen;
}

.sortButton{
  width: 50%;
  height: 40px;
  font-size: large;
  background: khaki;
  border-radius: 10px;

}

#add{
  padding: 10px;
  margin: 20px;
  width: 250px;
  height: 50px;
}